<nav>
    <ul>
        <li>
            <a routerLink="/"><h1>Codando a Vida</h1></a>            
        </li>
        <li *ngFor="let category of categories">
            <a [routerLink]="'/category/' + category.name">{{category.name}}</a>
        </li>
        <li *ngIf="user?.role == 'ROLE_ADMIN'">
            <a routerLink="/category-form">Adicionar</a>
        </li>
    </ul>


    <ul *ngIf="user; else other">
        <li>{{user.name}}</li>
        <li>
            <a routerLink="" (click)="logout()">Sair</a>
        </li>
    </ul>

    <ng-template #other>
        <ul>
            <li>
                <a routerLink="/register">Registrar</a>
            </li>
            <li>
                <a routerLink="/login">Login</a>
            </li>
        </ul>
    </ng-template>
</nav>